// Scaffolding

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.8rem;
	color: #333;
}

a {
	color: #b30000;
	transition: all 0.3s;

	&:hover {
		background: #f5f5f5;
		text-decoration: none;
	}
}
